@{
    ViewBag.Title = "Create User";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Create another user</p>
						<h1>Create User</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<div class="contact-form mt-150 mb-150">
		<center>
			<form action="/Home/CreateUser" method="post">
				<p>
					<input type="text" placeholder="Username" name="model.username" id="model.username">
				</p>
				<p>
					<input type="password" placeholder="Password" name="model.password" id="model.password">
				</p>
				<p>
					<input type="checkbox" value=1 name="model.admin" id="model.admin">  admin privileges</input>
				</p>
				<p><input type="submit" value="Create"></p>
			</form>
		</center>	
	</div>