@{
    ViewBag.Title = "TractorBG";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!-- hero area -->
<div class="hero-area hero-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 offset-lg-2 text-center">
				<div class="hero-text">
					<div class="hero-text-tablecell">
						<p class="subtitle">New production</p>
						<h1>New and improved Tractors</h1>
						<div class="hero-btns">
							<a href="/Home/Shop" class="boxed-btn">Tractor Collection</a>
							<a href="/Home/Contact" class="bordered-btn">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end hero area -->


	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> Products</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="/Home/Details?id=1"><img src="~/img/tractors/JohnDeere5050d.png" alt=""></a>
						</div>
						<h3>John Deere</h3>
						<p class="product-price"><span>5050d</span></p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="/Home/Details?id=2"><img src="~/img/tractors/KubotaM6.png" alt=""></a>
						</div>
						<h3>Kubota</h3>
						<p class="product-price"><span>M6</span></p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="/Home/Details?id=3"><img src="~/img/tractors/NewHolland3630.png" alt=""></a>
						</div>
						<h3>New Holland</h3>
						<p class="product-price"><span>3630</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product section -->
	
	<!-- advertisement section -->
	<div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">Since Year 2022</p>
						<h2>We are <span class="orange-text">TractorBG</span></h2>
						<p>We are newly developed site that has a catalogue with all the modern tractors that are most used in the industries.</p>
						<p>We have researched and found the most suitable tractors for everyone!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->